   <style>
    .button {
      position: relative;
      background-color: #3D5BA4;
      border: none;
      font-size: 19px;
      color: #FFFFFF;
      padding: 5px;
      width: 100%;
      text-align: center;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      height: 40px;
    }

    .button:after {
      content: "";
      background:#597fed;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
    .bg-content {
      text-align: center;
      padding-top: 5px;
      padding-left: 110px;
      padding-right: 110px;
      margin-top: 75px;
      margin-bottom: 90px;
      background-color: #FFF;
      min-height: 200px;
    }
  </style>

  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-content">
      <img width="50%" height="10%" src="static/img/policy.jpg">
      <div>
        <div class="col-md-1"></div>
        <div class="col-md-4"><button class="button" ng-click="login()">Login</button></div>
        <div class="col-md-2"></div>
        <div class="col-md-4"><button class="button" ng-click="register()">Register</button></div>
        <div class="col-md-1"></div>
      </div><br><br><br><br>
      <div ng-show="login_page=='True'">
        <div class="col-md-3"><label>Username:</label></div>
        <div class="col-md-8"><div class="form-group">
          <input type="text" class="form-control" ng-required="true" ng-model="email" placeholder="Enter Email">
          <p style="color: red;">{{loginemail_error}}</p>
        </div>
      </div>
      <div class="col-md-3"><label for="pwd">Password:</label></div><br>
      <div class="col-md-8"><div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="Enter password" name="pwd">
        <p style="color: red;">{{loginpassword_error}}</p>
      </div></div><br>
      <div class="col-md-12">
        <button class="button" ng-click="loginsubmit()">Submit</button>
      </div>
    </div>

    <div ng-show="reg_page=='True'">

      <form name="myForm">
       <div class="col-md-3"><label>Username:</label></div>
       <div class="col-md-8">
        <div class="control-group">
          <div class="controls">
            <input type="text" name="username" placeholder="Enter Username" ng-model="person.username" ng-pattern="patternUsername" ng-required="requireUsername"/>
            <p style="color: red;">{{user_error}}</p>
          </div>
        </div>
      </div>
      <br>

      <div class="col-md-3"><label>Email:</label></div>
      <div class="col-md-8">
        <div class="control-group">
          <div class="controls">
            <input type="text" name="email" placeholder="Enter Email" ng-model="person.email" ng-pattern="patternemail" ng-required="requireemail" />
            <p style="color: red;">{{email_error}}</p>
          </div>
        </div>
      </div>
      <br>

      <div class="col-md-3"><label>Password:</label></div>
      <div class="col-md-8">
        <div class="control-group">
          <div class="controls">
            <input type="password" name="password" placeholder="Enter Password" ng-model="person.password" ng-pattern="patternPassword" ng-required="requirePassword" />
            <p style="color: red;">{{password_error}}</p>
          </div>
        </div>
      </div>

      <br>
    </form>
    <br><br>
    <div class="col-md-12">
      <button class="button" ng-click="registersubmit()">Submit</button>
    </div>
  </div>
</div>
</div>
<div class="col-md-3"></div>
</div>
